* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    width: 280px;
    height: 370px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 80px;
}

.display{
    height: 50px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
}


.clear_delete{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.clear_delete button{
    width: 110px;
    padding: 10px;
}

.buttons{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.buttons button{
    width: 60px;
    height: 50px;
}